doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title &#x641C;&#x72D0; - UED
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    // Styles
    // <link href="css/bootstrap.css" rel="stylesheet">
    link(href='css/style.css', rel='stylesheet')
    link#prettyphoto-css(rel='stylesheet', href='css/prettyPhoto.css', type='text/css', media='all')
    link(href='css/fontello.css', type='text/css', rel='stylesheet')
    //if lt IE 7
      link(href='css/fontello-ie7.css', type='text/css', rel='stylesheet')
    // Google Web fonts
    //
      <link href='http://fonts.googleapis.com/css?family=Quattrocento:400,700' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    style.
      body {
      font-family: Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
      padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      #scrollUp {
      background-color: #777;
      border: medium none;
      bottom: 60px;
      color: #eee;
      font-size: 40px;
      height: 40px;
      line-height: 1;
      opacity: 0.8;
      overflow: hidden;
      right: 30px;
      text-align: center;
      text-decoration: none;
      width: 40px;
      }
      #scrollUp:hover {
      background-color: #333;
      }
    link(href='css_v3/bootstrap.min.css', rel='stylesheet')
    // Le HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    // Favicon
    link(rel='shortcut icon', href='img/favicon.ico')
    // JQuery
    script(type='text/javascript', src='js/jquery.js')
    // Load ScrollTo
    script(type='text/javascript', src='js/jquery.scrollTo-1.4.2-min.js')
    // Load LocalScroll
    script(type='text/javascript', src='js/jquery.localscroll-1.2.7-min.js')
    // prettyPhoto Initialization
    script(type='text/javascript', charset='utf-8').
      $(document).ready(function() {
      $("a[rel^='prettyPhoto']").prettyPhoto();
      });
  body
    // ******************** NAVBAR ********************
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container-fluid.container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          h1.brand
            a.navbar-brand(href='#top') UED!
        // Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse.
        .nav-collapse
          ul#menu-main.nav.nav-pills.navbar-right(style='margin-top: 27px')
            li
              a(title='portfolio', href='#portfolio') Portfolio
            li
              a(title='services', href='#services') Services
            li
              a(title='blog', href='#news') Blog
            li
              a(title='team', href='#team') Team
            li
              a(title='contact', href='#contact') Contact
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | login 
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='#') &#x6CE8;&#x518C;
                li
                  a(href='#') &#x767B;&#x5F55;
                li.divider
                li
                  a(href='#') &#x6CE8;&#x9500;
    // /.navbar
    #top
    // ******************** HeaderWrap ********************
    //
      <div id="headerwrap">
      <header class="clearfix">
      <h1><span>UED</span> We make web a beautiful place.</h1>
      <div class="container">
      <div class="row">
      <div class="span12">
      <h2>Signup for our Newsletter to be updated</h2>
      <input type="text" name="your-email" placeholder="you@yourmail.com" class="cform-text" size="40" title="your email">
      <input type="submit" value="Notify me" class="cform-submit">
      </div>
      </div>
      <div class="row">
      <div class="span12">
      <ul class="icon">
      <li>
      <a href="#" target="_blank"><i class="icon-pinterest-circled"></i></a>
      </li>
      <li>
      <a href="#" target="_blank"><i class="icon-facebook-circled"></i></a>
      </li>
      <li>
      <a href="#" target="_blank"><i class="icon-twitter-circled"></i></a>
      </li>
      <li>
      <a href="#" target="_blank"><i class="icon-gplus-circled"></i></a>
      </li>
      <li>
      <a href="#" target="_blank"><i class="icon-skype-circled"></i></a>
      </li>
      </ul>
      </div>
      </div>
      </div>
      </header>
      </div>
    // ******************** Feature ********************
    .scrollblock
      section#feature
        .container
          .row
            .col-md-12
              article
                p
                  | We work to make web a beautiful place.
                p
                  | We craft beautiful designs and convert them into
                p
                  | fully functional and user-friendy web app.
            // ./span12
          // .row
        // ./container
    hr
    // ******************** Portfolio Section ********************
    section#portfolio.single-page.scrollblock
      .container
        .align
          i.icon-desktop-circled
        h1#folio-headline Portfolio...
        .row
          .col-md-4
            .mask2
              a(href='img/portfolio-01.jpg', rel='prettyPhoto')
                img(src='img/portfolio-01.jpg', alt='')
            .inside
              hgroup
                h2 Ethan Marcotte Design
              .entry-content
                p
                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                a.more-link(href='#') view project
            // /.inside
          // /.span4
          .col-md-4
            .mask2
              a(href='img/portfolio-02.jpg', rel='prettyPhoto')
                img(src='img/portfolio-02.jpg', alt='')
            .inside
              hgroup
                h2 A Book Apart
              .entry-content
                p
                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                a.more-link(href='#') view project
            // /.inside
          // /.span4
          .col-md-4
            .mask2
              a(href='img/portfolio-03.jpg', rel='prettyPhoto')
                img(src='img/portfolio-03.jpg', alt='')
            .inside
              hgroup
                h2 Four Rules for Designers
              .entry-content
                p
                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                a.more-link(href='#') view project
            // /.inside
          // /.span4
        // /.row
        .row
          .col-md-4
            .mask2
              a(href='img/portfolio-01.jpg', rel='prettyPhoto')
                img(src='img/portfolio-03.jpg', alt='')
            .inside
              hgroup
                h2 Ethan Marcotte Design
              .entry-content
                p
                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                a.more-link(href='#') view project
            // /.inside
          // /.span4
          .col-md-4
            .mask2
              a(href='img/portfolio-02.jpg', rel='prettyPhoto')
                img(src='img/portfolio-01.jpg', alt='')
            .inside
              hgroup
                h2 A Book Apart
              .entry-content
                p
                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                a.more-link(href='#') view project
            // /.inside
          // /.span4
          .col-md-4
            .mask2
              a(href='img/portfolio-03.jpg', rel='prettyPhoto')
                img(src='img/portfolio-02.jpg', alt='')
            .inside
              hgroup
                h2 Four Rules for Designers
              .entry-content
                p
                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                a.more-link(href='#') view project
            // /.inside
          // /.span4
        // /.row
      // /.container
    hr
    // ******************** Services Section ********************
    section#services.single-page.scrollblock
      .container
        .align
          i.icon-cog-circled
        h1 Services
        // Four columns
        .row
          .col-md-3
            .align
              i.icon-desktop.sev_icon
            h2 passion
            p
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s.
          // /.span3
          .col-md-3
            .align
              i.icon-vector.sev_icon
            h2 &#x5E7F;&#x544A;&#x8BF7;&#x6C42;&#x6D4B;&#x8BD5;
            p
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s.
          // /.span3
          .col-md-3
            .align
              i.icon-basket.sev_icon
            h2 Ecommerce
            p
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s.
          // /.span3
          .col-md-3
            .align
              i.icon-mobile-1.sev_icon
            h2 Marketing
            p
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s.
          // /.span3
        // /.row
      // /.container
    hr
    // ******************** Testimonials Section ********************
    section#testimonials.single-page.hidden-phone
      .container
        .row
          .blockquote-wrapper
            blockquote.mega
              .col-md-4
                p.cite
                  | John Doe &amp; Sons:
              .col-md-8
                p.alignright
                  | &quot;We highly appreciate the enthusiasm and creative talent of the people at Legend!&quot;
          // /.blockquote-wrapper
        // /.row
      // /.container
    hr
    // ******************** Blog Section ********************
    section#news.single-page.scrollblock
      .container
        .align
          i.icon-pencil-circled
        h1 Our Blog
        // Three columns
        .row
          article.col-md-4.col-sm-6
            .thumbnail(style='padding:10px;')
              img(src='img/blog_img-01.jpg', alt='')
              .inside
                p.post-date
                  i.icon-calendar
                  |  March 17, 2013
                h2 A girl running on a road
                .entry-content
                  p
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s. &mldr;
                  a.more-link(href='#') read more
            // /.inside
          // /.span4
          article.col-md-4.col-sm-6
            .thumbnail(style='padding:10px;')
              img(src='img/blog_img-02.jpg', alt='')
              .inside
                p.post-date
                  | February 28, 2013
                h2 A bear sleeping on a tree
                .entry-content
                  p
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s. &mldr;
                  a.more-link(href='#') read more
              // /.inside
          // /.span4
          article.col-md-4.col-sm-6
            .thumbnail(style='padding:10px;')
              img(src='img/blog_img-03.jpg', alt='')
              .inside
                p.post-date
                  | February 06, 2013
                h2 A Panda playing with his baby
                .entry-content
                  p
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s. &mldr;
                  a.more-link(href='#') read more
              // /.inside
          // /.span4
        // /.row
        a.btn.btn-warning.btn-large(href='#') Go to our blog
      // /.container
    hr
    // ******************** Team Section ********************
    section#team.single-page.scrollblock
      .container
        .align
          i.icon-group-circled
        h1 Meet the team
        // Five columns
        .row
          .col-md-2.col-md-offset-1
            .teamalign
              img.team-thumb.img-circle(src='img/portrait-1.jpg', alt='')
            h3 Andrew
            .job-position
              | web designer
          // ./span2
          .col-md-2
            .teamalign
              img.team-thumb.img-circle(src='img/portrait-2.jpg', alt='')
            h3 Stephen
            .job-position
              | web developer
          // ./span2
          .col-md-2
            .teamalign
              img.team-thumb.img-circle(src='img/portrait-3.jpg', alt='')
            h3 Maria
            .job-position
              | graphic designer
          // ./span2
          .col-md-2
            .teamalign
              img.team-thumb.img-circle(src='img/portrait-4.jpg', alt='')
            h3 John
            .job-position
              | project manager
          // ./span2
          .col-md-2
            .teamalign
              img.team-thumb.img-circle(src='img/portrait-2.jpg', alt='')
            h3 Ashton
            .job-position
              | real owner
          // ./span2
        // /.row
        .row
          .col-md-10.col-md-offset-1
            hr.featurette-divider
            .featurette
              h2.featurette-heading
                | Want to know more? 
                span.muted | a little about us
              p
                | Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.
              p
                | At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles. Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.
              p
                | A un Angleso it va semblar un simplificat Angles, quam un skeptic Cambridge amico dit me que Occidental es.
            // /.featurette
            hr.featurette-divider
          // .span10
        // /.row
      // /.container
    // ******************** Contact Section ********************
    section#contact.single-page.scrollblock
      .container
        .align
          i.icon-mail-2
        h1 Contact us now!
        .row
          .col-md-12
            #theme-form.cform
              form.cform-form(action='#', method='post')
                .row
                  .col-md-6
                    span.your-name
                      input.cform-text(type='text', name='your-name', placeholder='Your Name', size='40', title='your name')
                  .col-md-6
                    span.your-email
                      input.cform-text(type='text', name='your-email', placeholder='Your Email', size='40', title='your email')
                .row
                  .col-md-6
                    span.company
                      input.cform-text(type='text', name='company', placeholder='Your Company', size='40', title='company')
                  .col-md-6
                    span.website
                      input.cform-text(type='text', name='website', placeholder='Your Website', size='40', title='website')
                .row
                  .col-md-12
                    span.message
                      textarea.cform-textarea(name='message', cols='40', rows='10', title='drop us a line.')
                div
                  button.btn.btn-large
                    | Send message
                .cform-response-output
          // ./span12
        // /.row
      // /.container
    hr
    .footer-wrapper
      .container
        footer
          small &copy; Copyright &copy; 2014 SOHU UED. All rights reserved.
      // ./container
    // Loading the javaScript at the end of the page
    script(src='js_v3/bootstrap.min.js')
    script(src='js/jquery.prettyPhoto.js')
    script(src='js/jquery.scrollUp.min.js')
    script(src='js/site.js')
    // TEST CODE
    script(type='text/javascript').
      $.scrollUp({
      scrollName : 'scrollUp',
      topDistance : '300',
      topSpeed : 300,
      animation : 'fade',
      animationInSpeed : 200,
      animationOutSpeed : 200,
      scrollText : '<span class="glyphicon glyphicon-hand-up"></span>',
      activeOverlay : !1
      });
